<header>
    <div class="container">
        <div class="header-content">
            <a href="#" class="logo"></a>
            <form class="search-form">
                <input type="text" placeholder="Search for a Business, Product, Service">
                <a href="#" class="search-btn"></a>
            </form>
            <div class="login-desktop">
                <a href="#" class="register">Register</a>
                <a href="#" class="sign-in">Sign in</a>
            </div>
            <a href="#" class="btn">FILE A COMPLAINT</a>
            <a href="#" class="search-btn"></a>
            <a href="#" class="login-btn"></a>
        </div>
    </div>
</header>