<footer>
  <div class="container">
    <div class="footer-content">
      <div class="links">
        <a href="#">File a complaint</a> |
        <a href="#">About us</a> |
        <a href="#">Categories</a> |
        <a href="#">Locations</a> |
        <a href="#">FAQ</a> |
        <a href="#">Business FAQ</a> |
        <a href="#">Terms of Use</a> |
        <a href="#">Privacy Policy</a> |
        <a href="#">Cookie Policy</a> |
        <a href="#">Legal Information</a> |
        <a href="#">Testimonials</a> |
        <a href="#">Contact us</a>
      </div>
      <div class="alphabet">
        <span>Business Directory:</span>
        <a href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
        <a href="#">D</a>
        <a href="#">E</a>
        <a href="#">F</a>
        <a href="#">G</a>
        <a href="#">H</a>
        <a href="#">I</a>
        <a href="#">J</a>
        <a href="#">K</a>
        <a href="#">L</a>
        <a href="#">M</a>
        <a href="#">N</a>
        <a href="#">O</a>
        <a href="#">P</a>
        <a href="#">Q</a>
        <a href="#">R</a>
        <a href="#">S</a>
        <a href="#">T</a>
        <a href="#">U</a>
        <a href="#">V</a>
        <a href="#">W</a>
        <a href="#">X</a>
        <a href="#">Y</a>
        <a href="#">Z</a>
      </div>
      <div class="copyright">
        <p>© 2004-2022 ComplaintsBoard.com. All rights reserved.</p>
      </div>
      <div class="footer-socials">
        <a href="#" class="facebook-link"></a>
        <a href="#" class="twitter-link"></a>
      </div>
    </div>
  </div>
</footer>