<section class="in-the-news">
  <div class="container">
    <h3>In the news</h3>
    <div class="in-the-news-content">
      <div class="news-block-wrapper">
        <div class="news-block" style="background-image: url(img/news1.png);">
          <div class="tooltip">
            <blockquote>
              "Unhappy consumers gather online at Complaintsboard.com and have already logged thousands of complaints."
            </blockquote>
          </div>
        </div>
        <div class="news-block" style="background-image: url(img/news2.png);">
          <div class="tooltip">
            <blockquote>
              If you see dozens of complaints about a certain company on ComplaintsBoard, walk away.
            </blockquote>
          </div>
        </div>
        <div class="news-block" style="background-image: url(img/news3.png);">
          <div class="tooltip">
            <blockquote>
              One of the largest consumer sites online. Posting here your concerns means good exposure for your issues.
            </blockquote>
          </div>
        </div>
        <div class="news-block" style="background-image: url(img/news4.png);">
          <div class="tooltip">
            <blockquote>
              A consumer site aimed at exposing unethical companies and business practices.
            </blockquote>
          </div>
        </div>
        <div class="news-block" style="background-image: url(img/news5.png);">
          <div class="tooltip">
            <blockquote>
              ComplaintsBoard is a good source for product and company gripes from especially dissatisfied people.
            </blockquote>
          </div>
        </div>
        <div class="news-block" style="background-image: url(img/news6.png);">
          <div class="tooltip">
            <blockquote>
              You'll definitely get some directions on how customer service can best solve your problem.
            </blockquote>
          </div>
        </div>
        <div class="news-block" style="background-image: url(img/news7.png);">
          <div class="tooltip">
            <blockquote>
              Do a little research on the seller. Visit consumer complaint websites like ComplaintsBoard.
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>